# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock

# Code generation
*.g.dart
*.freezed.dart
*.mocks.dart

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Android
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/DerivedData/
**/ios/**/Flutter/App.framework/
**/ios/**/Flutter/Flutter.framework/
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/Generated.xcconfig
**/ios/**/Flutter/ephemeral/
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/ServiceDefinitions.json
**/ios/**/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/
**/ios/Pods/
**/ios/Runner.xcworkspace/

# Web
**/web/favicon.png
lib/generated_plugin_registrant.dart

# Coverage
coverage/

# Environment
.env
.env.*
